@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');



html{
    scroll-behavior: smooth;
}

.body{
    margin: 0;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}